{% load static %}
{% include 'admin/header.html' %}
		<div id="content">
			<div id="content-header">
				<div id="breadcrumb">
				<a href="dash" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				</div>
                <h1>Add Mentor</h1>
			</div>
			
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>									
								</span>
								<h5>	Assign Mentor</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" method="POST" action="addassign" enctype="multipart/form-data">
                                   						<h4 style="color:red;">{{status}}</h4>

{% csrf_token %}								   <div class="control-group">
                                        <label class="control-label">Student Name</label>
                                        <div class="controls">
									<select class="form-control" class="form-control" required name="sid">
										<option disabled>Select</option>
										{% for i in result %}
										<option value='{{i.id}}'>{{i.name}}</option>
										{% endfor %}
										</select>                                        </div>
                                    </div>
									 <div class="control-group">
                                        <label class="control-label">Mentor</label>
                                        <div class="controls">
									<select class="form-control" class="form-control" required name="mid">
										<option disabled>Select</option>
										{% for i in res %}
										<option value='{{i.id}}'>{{i.name}}</option>
										{% endfor %}
										</select>                                          </div>
                                    </div>
                                    
                                   
                                    <div class="form-actions">
                                        <input type="submit" value="Submit" class="btn btn-success">
                                    </div>
                                </form>
							</div>
						</div>			
					</div>
				</div>
				
				
			</div>
		</div> <div class="row-fluid">
     {% include 'admin/footer.html' %}